
@font-face {
    font-family: 'PokemonSolid';
    src: url('../src/assets/images/fonts/PokemonSolid.ttf') format('truetype');
}
.container_homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Other styles... */
  }

h1 {
    font-size: 2.3em;
    outline: black;
    color: rgb(5, 187, 14);
    font-family: 'PokemonSolid', sans-serif;
    margin-top: 1.em;
    text-align: center;
  }

  .char {
    position: absolute;
    top: 10em;
    left: 1.5em;
    max-height: 21em;
  }


  .button_container {
    gap: 1em;
    position: absolute;
    bottom: 3em;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
  }

.silhouette {
    background-image: url('../src/assets/images/BW_chars/wartortle.png');
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh; /* 80% of the viewport's height */
    width: 80vw; /* 80% of the viewport's width */
    transform: translate(-50%, -50%); /* Centers the div */
    background-repeat: no-repeat;
    background-size: contain; /* Makes the image fit within the div */
    background-position: center; /* Centers the image within the div */
  }
  
  .animate {
    animation: cycle 10s infinite;
  }
  
  @keyframes cycle {
    0% { background-image: url('../src/assets/images/BW_chars/blastoise.png'); }
    5% { background-image: url('../src/assets/images/BW_chars/bulbasaur.png'); }
    10% { background-image: url('../src/assets/images/BW_chars/caterpie.png'); }
    15% { background-image: url('../src/assets/images/BW_chars/charizard.png'); }
    20% { background-image: url('../src/assets/images/BW_chars/charmander.png'); }
    25% { background-image: url('../src/assets/images/BW_chars/charmeleon.png'); }
    30% { background-image: url('../src/assets/images/BW_chars/ivysaur.png'); }
    35% { background-image: url('../src/assets/images/BW_chars/squirtle.png'); }
    40% { background-image: url('../src/assets/images/BW_chars/venusaur.png'); }
    45% { background-image: url('../src/assets/images/BW_chars/wartortle.png'); }
    50% { background-image: url('../src/assets/images/BW_chars/blastoise.png'); }
    55% { background-image: url('../src/assets/images/BW_chars/bulbasaur.png'); }
    60% { background-image: url('../src/assets/images/BW_chars/caterpie.png'); }
    65% { background-image: url('../src/assets/images/BW_chars/charizard.png'); }
    70% { background-image: url('../src/assets/images/BW_chars/charmander.png'); }
    75% { background-image: url('../src/assets/images/BW_chars/charmeleon.png'); }
    80% { background-image: url('../src/assets/images/BW_chars/ivysaur.png'); }
    85% { background-image: url('../src/assets/images/BW_chars/squirtle.png'); }
    90% { background-image: url('../src/assets/images/BW_chars/venusaur.png'); }
    95% { background-image: url('../src/assets/images/BW_chars/wartortle.png'); }
    100% { background-image: url('../src/assets/images/BW_chars/charizard.png'); }
  }