/* LandingPage.css */

.container_landing {
    display: flex;
    justify-content: center;
    align-items: center; /* Aligns the image to the center */
    height: 100%;
    width: 100%;
  }
  
  .logo {
    position: absolute;
    top: -1em;
    max-width: 17em;
    display: block;
    margin: 0 auto;
  }
  
  .background_image {
    position: absolute;
    top: 17em; /* Positions the div 10em from the top of the container */
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../src/assets/images/background/grass.png');
    background-repeat: no-repeat;
    background-size: 150em;
    z-index: 2;
  }

  .animated_image {
    position: absolute;
    top: 12em; /* Positions the div 10em from the top of the container */
    left: 1em;
    right: 0;
    bottom: 0;
    background-image: url('../src/assets/images/animated/PokemonImg.svg');
    background-repeat: no-repeat;
    background-size: 22em;
    animation: move-up-down 1s infinite;
    z-index: 1;
  }

  @keyframes move-up-down {
    0% { transform: translateY(0); }
    50% { transform: translateY(-40px); }
    100% { transform: translateY(0); }
  }

  /* .landing_image {
    margin-top: 19em;
    margin-left: 1em;
    max-width: 90%;
    animation: landing-animation 5s forwards;
  } */
  
  /* @keyframes landing-animation {
    0% {
      transform: scale(1);
    }
    80% {
      transform: scale(1);
    }
    90% {
      transform: scale(1.1) rotate(0deg);
    }
    100% {
      transform: scale(1.1) rotate(360deg);
    }
  } */